<ul class="tracks">
	<% @songs.each do |song| %>
	<li class="track">
		<dl class="song">
			<dt>Title</dt>
			<dd><%= song.title %></dd>
			<dt>Author</dt>
			<dd><%= song.author %></dd>
			<% if song.url.nil? %>
			    <dt>URL</dt>
				<dd><a href="<%= song.url %>"><%= song.url %></a></dd>
			<% end %>
			<dt>Submitted by:</dt>
			<dd><%= song.user.email %></dd>
		</dl>
	</li>
	<% end %>
</ul>

<a href="/songs/add" class="btn btn-success">Add Song</a>

<a href="/users" class="btn btn-success">Home</a>
