<ul class="tracks">
	<% @songs.each do |song| %>
	<li class="track">
		<dl class="song">
			<dt>Title</dt>
			<dd><%= song.title %></dd>
			<dt>Author</dt>
			<dd><%= song.author %></dd>
			<% unless song.url.empty? %>
			    <dt>URL</dt>
				<dd><a href="<%= song.url %>"><%= song.url %></a></dd>
			<% end %>
			<dt>Submitted by:</dt>
			<dd><%= song.user && song.user.email %></dd>
			<dt>Votes:</dt>
			<dd><%= song.votes.where(upvote: true).count %></dd>
			<form action="upvote" method="POST">
				<input type="hidden" name ="song_id" value="<%= song.id %>">
				<button type="submit" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</button> 
			</form>
		</dl>
	</li>
	<% end %>
</ul>

<a href="/songs/new" class="btn btn-success">Add Song</a>

<a href="/users" class="btn btn-success">Home</a>
